<div class="source bg-cool-grey-100 border-l-8 border-pink-vivid-400 flex items-start">
	{{ params.image | safe }}

	<div class="p-4">
		<a href="{{ params.link | url }}" class="block no-underline font-regular hover:text-cool-grey-900 fancy-link focus:outline-none">
			<h{{params.headingLevel}} class="font-display text-lg leading-3">
				{{ params.title }}
			</h{{params.headingLevel}}>
		</a>

		{{ params.description | markdownify | safe }}
	</div>
</div>
