---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TerminalCard from '../components/TerminalCard.astro';
---

<BaseLayout>
  <Header slot="header" />
  <main>
    <Hero>
      <TerminalCard />
    </Hero>
  </main>
</BaseLayout>
