<header class="section flex h-16 flex-col pt-6">
  <div class="outer-container">
    <div class="container">
      <div class="inner-container">
        <div class="relative flex gap-4">
          <span class="flex-1"></span>
          <div class="flex flex-1 justify-end md:justify-center">
            <template x-data x-if="!$store.screen.md">
              <div class="md:hidden" x-data="{ open: false }">
                <button
                  type="button"
                  aria-expanded="false"
                  class="group flex items-center rounded-sm bg-white/90 px-4 py-2 text-sm font-medium text-slate-800 shadow-lg shadow-slate-800/5 ring-1 ring-slate-900/5 backdrop-blur-sm dark:bg-slate-800/90 dark:text-slate-200 dark:ring-white/10 dark:hover:ring-white/20"
                  @click="open = true"
                >
                  Menu
                  <svg
                    viewBox="0 0 8 6"
                    aria-hidden="true"
                    class="ml-3 h-auto w-2 stroke-slate-500 group-hover:stroke-slate-700 dark:group-hover:stroke-slate-400"
                  >
                    <path
                      d="M1.75 1.75 4 4.25l2.25-2.5"
                      fill="none"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>

                <div
                  x-show="open"
                  x-transition:enter="transition duration-150 ease-out"
                  x-transition:enter-start="opacity-0"
                  x-transition:enter-end="opacity-100"
                  x-transition:leave="transition duration-150 ease-in"
                  x-transition:leave-start="opacity-100"
                  x-transition:leave-end="opacity-0"
                  class="fixed inset-0 z-50 bg-slate-400/40 backdrop-blur-xs dark:bg-black/80"
                  aria-hidden="true"
                ></div>
                <div
                  x-show="open"
                  x-trap.noscroll.inert="open"
                  x-transition:enter="transition duration-150 ease-out"
                  x-transition:enter-start="opacity-0 scale-95"
                  x-transition:enter-end="opacity-100 scale-100"
                  x-transition:leave="transition duration-150 ease-in"
                  x-transition:leave-start="opacity-100 scale-100"
                  x-transition:leave-end="opacity-0 scale-95"
                  class="fixed inset-x-4 top-8 z-50 origin-top scale-100 rounded-sm bg-white p-8 opacity-100 ring-1 ring-slate-900/5 dark:bg-slate-900 dark:ring-slate-800"
                  tabindex="-1"
                >
                  <div
                    class="flex flex-row-reverse items-center justify-between"
                  >
                    <button
                      aria-label="Close menu"
                      class="-m-1 p-1"
                      type="button"
                      @click="open = false"
                    >
                      <svg
                        viewbox="0 0 24 24"
                        aria-hidden="true"
                        class="h-6 w-6 text-slate-500 dark:text-slate-400"
                      >
                        <path
                          d="m17.25 6.75-10.5 10.5M6.75 6.75l10.5 10.5"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </button>
                    <h2
                      class="text-sm font-medium text-slate-600 dark:text-slate-400"
                    >
                      Navigation
                    </h2>
                  </div>
                  <nav class="mt-6">
                    <ul
                      class="-my-2 divide-y divide-slate-100 text-base text-slate-800 dark:divide-slate-100/5 dark:text-slate-300"
                    >
                      {{ $currentPage := . }}
                      {{ range .Site.Menus.main }}
                        <li>
                          <a class="block py-2" href="{{ .URL }}">
                            {{ .Name }}
                          </a>
                        </li>
                      {{ end }}
                    </ul>
                  </nav>
                </div>
              </div>
            </template>

            <nav class="hidden md:block">
              <ul
                class="flex rounded-sm bg-white/90 px-3 text-sm font-medium text-slate-800 shadow-lg shadow-slate-800/5 ring-1 ring-slate-900/5 backdrop-blur-sm dark:bg-slate-800/90 dark:text-slate-200 dark:ring-white/10"
              >
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                  <li>
                    <a
                      class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        text-pink-500 dark:text-pink-400
                      {{ else }}
                        hover:text-pink-500 dark:hover:text-pink-400
                      {{ end }} relative block px-3 py-2 transition"
                      href="{{ .URL }}"
                    >
                      {{ .Name }}
                      {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        <span
                          class="absolute inset-x-1 -bottom-px h-[2px] rounded-sm bg-pink-500"
                        ></span>
                      {{ end }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </nav>
          </div>

          <div class="flex justify-end md:flex-1">
            <button
              x-data
              type="button"
              aria-label="Toggle dark mode"
              class="group rounded-sm bg-white/90 px-3 py-2 shadow-lg shadow-slate-800/5 ring-1 ring-slate-900/5 backdrop-blur-sm transition dark:bg-slate-800/90 dark:ring-white/10 dark:hover:ring-white/20"
              @click="$store.darkMode.toggle()"
            >
              <svg
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
                class="h-6 w-6 fill-slate-100 stroke-slate-500 transition group-hover:fill-slate-200 group-hover:stroke-slate-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-pink-50 [@media(prefers-color-scheme:dark)]:stroke-pink-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-pink-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-pink-600"
              >
                <path
                  d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"
                ></path>
                <path
                  d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061"
                  fill="none"
                ></path>
              </svg>
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="hidden h-6 w-6 fill-slate-700 stroke-slate-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-slate-400 [@media_not_(prefers-color-scheme:dark)]:fill-pink-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-pink-500"
              >
                <path
                  d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
