<article class="note">
	<a href="{{ params.link | url }}" class="block no-underline font-regular hover:text-cool-grey-900 fancy-link focus:outline-none">
		<h{{params.headingLevel}} class="font-display text-lg leading-3">
			{{ params.title }}
		</h{{params.headingLevel}}>
	</a>

	<p class="mb-0">{{ params.content | markdownify | safe }}</p>

	<span class="note-bottom"></span>
</article>
