{%- from "components/note/macro.njk" import note -%}

<ul class="notes-grid">
	{% for post in postslist %}
		{% set currentPost = post.data.post %}
		{% if currentPost | hasTag('learning-notes') %}
			<li>
				{{ note({ link: post.url, content: currentPost.excerpt, title: currentPost.title, headingLevel: 3 }) }}
			</li>
			<li>
				{{ note({ link: post.url, content: currentPost.excerpt, title: currentPost.title, headingLevel: 3 }) }}
			</li>

		{% endif %}
	{% endfor %}
</ul>
