@tailwind base;

body {
  background: url("/images/bg-2.webp") repeat;
}

.no-webplossless body {
  background-image: url("/images/bg-2.jpg");
}

@layer base {
  :root {
    --baseline: 1.5;
    --highlight-color: #92fdf2;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    @apply box-border overflow-x-hidden bg-white;
    @apply text-cool-grey-900 font-body text-base antialiased;
  }

  ::selection {
    @apply text-cool-grey-900 bg-yellow-vivid-100;
    text-shadow: none;
  }

  article > *:last-child {
    margin-bottom: 0 !important;
  }

  h1 {
    @apply mb-4 font-display font-bold text-xl sm:text-2xl;
    hyphens: manual;
  }

  h2 {
    @apply mt-4 mb-5 font-body text-xl uppercase font-extrabold;
  }

  article h2,
  aside h2 {
    @apply mb-3 inline-block px-2 highlight;
  }

  article h2 + * {
    @apply mt-0;
  }

  code {
    @apply font-mono-display;
  }

  :not(pre) > code {
    @apply inline-block align-middle relative -top-0.5 font-bold rounded-sm;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: "`";
  }

  p,
  ul,
  ol {
    @apply my-4;
  }

  article ul {
    @apply ml-5;
  }

  article ul li::before {
    @apply pr-3 text-pink-vivid-400;
    content: "â—";
  }

  a {
    @apply font-bold text-current hover:text-pink-vivid-400 focus:outline underline transition-colors decoration-color-pink-vivid-400;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.2em;
  }

  pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    @apply my-4 p-4 font-mono-display;
    overflow: auto;
  }

  pre[class*="language-"] {
    @apply bg-cool-grey-800;
  }
}

@tailwind components;

@layer components {
  .container {
    @apply w-full max-w-screen-xl mx-auto px-4 md:px-6;
  }

  .notes-grid {
    @apply grid gap-4 grid-cols-1 m-0;
  }

  .sources-grid {
    @apply grid gap-4 grid-cols-1 m-0;
  }

  @screen sm {
    .notes-grid {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .sources-grid {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
  }

  .notes-grid > *,
  .sources-grid > * {
    @apply focus-within:outline;
  }

  .note {
    @apply relative bg-yellow-vivid-200 mb-6 pl-4 pr-7 pt-6 transform transition-transform duration-200 hover:rotate-1 motion-reduce:transform-none;
  }

  :nth-child(even) > .note {
    @apply hover:-rotate-1;
  }

  .notes-grid .note {
    height: calc(100% - var(--baseline) * 2rem);
  }

  .note::before {
    @apply absolute top-0 left-0 w-full h-6 bg-yellow-vivid-300;
    content: "";
    z-index: 1;
  }

  .note > * {
    position: relative;
    z-index: 2;
  }

  .note-bottom {
    @apply absolute left-0 bottom-0 block w-full;
  }

  .note-bottom::after {
    @apply absolute left-0 -bottom-6 right-6 border-yellow-vivid-200;
    content: "";
    border-width: calc(var(--baseline) * 1rem);
  }

  .note-bottom::before {
    @apply absolute right-0 -bottom-6 text-yellow-vivid-100;
    content: "";
    border-width: calc(var(--baseline) * 2rem) calc(var(--baseline) * 2rem) 0 0;
    border-color: currentColor transparent;
  }

  .source img {
    @apply hidden w-14 sm:block;
  }

  .source p:last-child {
    @apply mb-0;
  }

  .tag-list {
    @apply m-0 flex flex-wrap;
  }

  .tag-list + h2 {
    @apply mt-0;
  }

  .tag-list li {
    @apply mr-5 mb-3;
  }

  .tag-list li::before {
    @apply hidden;
    content: "";
  }

  .tag::before {
    @apply absolute top-0 right-0 transform translate-x-full text-yellow-vivid-300;
    content: "";
    width: 0;
    height: 0;
    border-top: 1.125rem solid transparent;
    border-bottom: 1.125rem solid transparent;
    border-left: 1.125rem solid currentColor;
  }

  .tag::after {
    @apply absolute transform top-1/2 -translate-y-1/2 right-[-0.35rem] block w-[0.5rem] h-[0.5rem] bg-white rounded-full;
    content: "";
  }
}

@tailwind utilities;

@layer utilities {
  .highlight {
    background-image: linear-gradient(
      transparent 30%,
      var(--highlight-color) 30%,
      var(--highlight-color) 70%,
      transparent 70%,
      transparent 100%
    );
    background-size: 100% 100%;
  }

  .fancy-link > * {
    @apply inline bg-no-repeat;
    background-image: linear-gradient(
      transparent 43%,
      var(--highlight-color) 43%,
      var(--highlight-color) 70%,
      transparent 70%,
      transparent 100%
    );
    background-size: 0 100%;
  }

  .fancy-link:hover > * {
    @apply transition-all duration-500;
    background-size: 100% 100%;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-cool-grey-200;
  }

  .token.punctuation {
    @apply text-cool-grey-50;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ffa07a;
  }

  .token.boolean,
  .token.number,
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable,
  .token.keyword {
    @apply text-cyan-vivid-400;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-pink-vivid-200;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.regex,
  .token.important {
    @apply text-yellow-vivid-300;
  }

  .token.important,
  .token.bold {
    @apply font-bold;
  }

  .token.entity {
    cursor: help;
  }
}
