{{ define "main" }}
  <div class="section mt-16 sm:mt-32">
    <div class="outer-container">
      <div class="container">
        <div class="inner-container">
          <div class="max-w-2xl">
            <h1
              class="font-accent text-4xl font-semibold tracking-tight text-slate-800 dark:text-slate-100 sm:text-5xl"
            >
              {{ .Title }}
            </h1>
            {{ with .Params.subtitle }}
              <p class="mt-6 text-base text-slate-600 dark:text-slate-400">
                {{ . }}
              </p>
            {{ end }}


            <div class="mt-6 flex gap-6">
              {{ partial "social-links.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section mt-24 md:mt-28">
    <div class="outer-container">
      <div class="container">
        <div class="inner-container">
          <div
            class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
          >
            <div class="flex flex-col gap-16">
              {{ range first 10 (where .Site.RegularPages.ByPublishDate.Reverse "Type" "articles") }}
                <article class="card group">
                  <h2 class="card-title">
                    <a class="card-link" href="{{ .Permalink }}">
                      <span class="card-link-text">{{ .Title }}</span>
                    </a>
                  </h2>
                  <time class="card-eyebrow" datetime="{{ .PublishDate }}">
                    {{ .PublishDate | time.Format ":date_long" }}
                  </time>
                  <p class="card-description">{{ .Summary }}</p>
                  <div class="card-cta" aria-hidden="true">
                    Read article
                    <svg
                      viewbox="0 0 16 16"
                      fill="none"
                      aria-hidden="true"
                      class="card-cta-icon"
                    >
                      <path
                        d="M6.75 5.75 9.25 8l-2.5 2.25"
                        strokeWidth="1.5"
                        strokeLinecap="round"
                        strokeLinejoin="round"
                      />
                    </svg>
                  </div>
                </article>
              {{ end }}
            </div>

            <div class="space-y-10 lg:pl-16 xl:pl-24">
              {{ partial "work.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
