{%- from "components/social/macro.njk" import social -%}

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ renderData.title or title or metadata.title }}</title>
		<meta name="Description" content="{{ renderData.description or description or metadata.description }}">
		<link rel="stylesheet" href="https://use.typekit.net/yut6utw.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body class="flex flex-col min-h-full">
		<header class="container flex flex-col sm:flex-row justify-between items-center py-4">
			{% if page.url == '/' %}
				<h1 class="mb-0">
				{% endif %}
				<a href="{{ '/' | url }}" class="relative block mb-4 sm:mb-0 sm:py-2 font-display text-xl font-extrabold no-underline text-cool-grey-900 hover:text-pink-vivid-400">
					<span role="presentation" class="absolute transform -translate-x-full sm:relative">✨</span>
					{{ metadata.title }}
				</a>
				{% if page.url == '/' %}
				</h1>
			{% endif %}

			<nav>
				<ul class="flex items-center m-0">
					{%- for nav in collections.nav | reverse -%}
						<li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
							<a href="{{ nav.url | url }}" class="font-display text-cool-grey-900 no-underline border-cool-grey-900 border-2 pt-1 pb-2 px-3">
								{{ nav.data.navtitle }}
							</a>
						</li>
					{%- endfor -%}
				</ul>
			</nav>

			{{ social() }}
		</header>

		<main class="container flex-grow">
			{{ content | safe }}
		</main>

		<footer class="mt-10 py-3 bg-cool-grey-800 text-white">
			<div class="container">
				<p class="text-md">©
					<a href="https://www.twitter.com/bekapod">bekapod</a>
					2020.</p>

				<p class="text-md">
					Built with
					<a href="https://www.11ty.io/">Eleventy</a>
					&
					<a href="https://www.sanity.io">Sanity.io</a>. Icons from
					<a href="https://feathericons.com/">Feather</a>.
				</p>

				{{ social() }}
			</div>
		</footer>
	</body>
</html>
