---
layout: layouts/home.njk
eleventyExcludeFromCollections: true
---

<div class="container h-full w-full absolute top-0 left-0 flex flex-col items-center justify-center">
  <h1 class="text-center">404: Page not found</h1>
  <span role="presentation" class="text-3xl">🤷🏻‍♀️</span>
</div>

