---
layout: layouts/home.njk
---

<p class="bg-white border-b-8 mb-[-8px] border-pink-vivid-400 p-4 text-md">
Woodlands payment Osgiliath tightening. Barad-dur follow belly comforts tender tough bell? Many that live deserve death. Some that die deserve life. Outwitted teatime grasp defeated before stones reflection corset seen animals Saruman's call? <a href="/">A link</a></p>

<section>
  <h2 class="mt-10 mb-4 font-body text-xl uppercase font-extrabold">📚
    <span class="ml-3 px-2 highlight">Notes from things I've read</span>
  </h2>
  {% set postslist = collections.myPosts %}
  {% include "learning-note-posts.njk" %}
</section>

<section class="highlight-color-pink-vivid-100">
  <h2 class="mt-10 mb-4 font-body text-xl uppercase font-extrabold">🌟
    <span class="ml-3 px-2 highlight">Tips & tricks</span>
  </h2>
  {% set postslist = collections.myPosts %}
  {% include "learning-note-posts.njk" %}
</section>

