---
layout: layouts/home.njk
---

<div class="bg-white border-b-8 border-pink-vivid-400 p-4 text-md">
  {{ metadata.intro | markdownify | safe }}
</div>

<section>
  <h2 class="mt-10 mb-4 font-body text-xl uppercase font-extrabold">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline">
      <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
      <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
    </svg>
    <span class="ml-3 px-2 highlight">Notes from things I've read</span>
  </h2>
  {% set postslist = collections.myPosts %}
  {% include "learning-note-posts.njk" %}
</section>

<section class="highlight-color-pink-vivid-100">
  <h2 class="mt-10">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline">
      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
    </svg>
    <span class="ml-3 px-2 highlight">Tips & tricks</span>
  </h2>
  {% set postslist = collections.myPosts %}
  {% include "tips-posts.njk" %}
</section>

