---
layout: layouts/home.njk
---

<p class="bg-white p-4">
Woodlands payment Osgiliath tightening. Barad-dur follow belly comforts tender tough bell? Many that live deserve death. Some that die deserve life. Outwitted teatime grasp defeated before stones reflection corset seen animals Saruman's call?</p>


<h2 class="mt-6 mb-4 font-body text-xl uppercase font-extrabold">🎓
	<span class="ml-3 px-2 highlight">Notes from things I've read</span>
</h2>


{% set postslist = collections.myPosts %}
{% include "learning-note-posts.njk" %}
